<h3>Capítulos:</h3>

<form>
	{{input type="text" value=number}}
	{{input type="text" value=title}}
	{{input type="text" value=description}}
	<button {{action 'saveChapter' number title description}} >Salvar</button>
</form>


{{chapters-table chapters=chapters}}
  
{{outlet}}